.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 35;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset -37px 0 72px -6px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
  transition: all 250ms;
}
