.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 35;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset -37px 0 72px -6px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
  transition: all 250ms;
}
.swiper-wrapper {
  padding-bottom: 2.5rem;
}
.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  color: rgba(0, 0, 0, 0.53);
  background-color: white;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100%;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in;
}
.swiper:hover .swiper-button-prev {
  opacity: 1;
}
.swiper:hover .swiper-button-next {
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #ec406a !important;
  padding: 0 0.6rem;
  border-radius: 10px;
}

@media screen and (min-width: 640px) {
  .swiper-wrapper {
    padding-bottom: 0;
  }
}
