.overlay {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 35;
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: inset -37px 0 72px -6px rgba(0, 0, 0, 0.1);
  transform: translateZ(0);
  height: 110%;
  transition: all 250ms;
}
.menu__link.active {
  color: #ec406a;
}

.swiper-wrapper {
  padding-bottom: 2.5rem;
}
.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  color: rgba(0, 0, 0, 0.53);
  background-color: white;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 100%;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease-in;
}
.swiper:hover .swiper-button-prev {
  opacity: 1;
}
.swiper:hover .swiper-button-next {
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #ec406a !important;
  padding: 0 0.6rem;
  border-radius: 10px;
}
.radio-swiper-pagination {
  position: absolute;
  bottom: 38% !important;
}
.video-react .video-react-poster {
  background-size: cover !important;
}
.video-react-control-bar {
  display: flex !important;
  direction: ltr;
  background-color: #222 !important;
}
.video-react .video-react-big-play-button {
  width: 3rem !important;
  height: 3rem !important;
  line-height: 3rem !important;
  border-radius: 100%;
}
.video-react .video-react-big-play-button.video-react-big-play-button-center {
  top: 48% !important;
  left: 56% !important;
}
@media screen and (min-width: 640px) {
  .swiper-wrapper {
    padding-bottom: 0;
  }
  .radio-swiper-pagination {
    top: 65% !important;
  }
  .video-react .video-react-big-play-button {
    width: 4rem !important;
    height: 4rem !important;
    line-height: 4rem !important;
  }
  .video-react .video-react-big-play-button.video-react-big-play-button-center {
    left: 52% !important;
  }
}
@media screen and (min-width: 1024px) {
  .radio-swiper-pagination {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 50% !important;
    left: 1% !important;
  }
  .radio-swiper-pagination-bullet {
    margin-bottom: 0.4rem !important;
    padding: 0.3rem;
  }
  .swiper-pagination-bullet.radio-swiper-pagination-bullet.swiper-pagination-bullet-active {
    padding: 0.6rem 0.3rem !important;
  }
  .radio-swiper-pagination {
    width: auto !important;
  }
}
@media screen and (max-width: 389px) {
  .radio-slider-img {
    height: 100% !important;
  }

  .radio-swiper-pagination {
    bottom: 41% !important;
  }
}
/*  =============== Loading bar style =============== */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
