@import "./font.css";
@import "./custom.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-tap-highlight-color: transparent;
  }
  input:focus {
    outline: none;
  }
}
